@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<br />
<div>
    <a asp-action="Index">Back</a>
</div>
<br />
<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate" class="form-label fw-bold"></label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="BaseSalary" class="form-label fw-bold"></label>
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <br />
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
